<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <a href="/rank">Rank</a>
      <a href="/logout">Logout</a>
    </div>

    {% if current_user %}<div>Hi {{ current_user.username }}，welcome to Ideas! You have {{ current_user.coins }} coins.</div>{% endif %}

    {% if msg %}
    <div>
      {{ msg }}
    </div>
    {% endif %}

    <div class="main">{% block main %}{% endblock %}</div>
  </body>
</html>
